.footer{
    color: #fff;
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom:0%;
  }




  .footer a{
    color: #fff;
    font-size:36px;
    text-decoration:none;
  }
  
  .footer hr{
    width:80%;
    padding:0px;
    margin-left:10%;
  }

  @media (max-width: 1280px) and (max-height:800px) {
    .footer a{
      color: #fff;
      font-size:26px;
      text-decoration:none;
    }
  }
  
  
  @media (max-width:281px) {
    .footer{height: 100px;}
  
    .footer ul{
      margin-left:2.5%;
      width:100%;
      padding-bottom: 0% !important;
    }
  
  }