<footer class="footer">
    <ul class="nav justify-content-center  ">
      <li id="linkedin" class="nav-item"><a href=" https://www.linkedin.com/in/william-ward-53376a100" target="_blank" class="fa fa-linkedin-square"></a></li>
      <div style="width:35px;"></div>
      <li id="email" class="nav-item"><a href="mailto:wward246@gmail.com" class="nav-link px-2  fa fa-paper-plane-o"></a></li>
      <div style="width:35px;"></div>
      <li id="github" class="nav-item"><a href="https://github.com/upspackageman" target="_blank" class="nav-link px-2 fa fa-github"></a></li>
      <!--<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li> -->
    </ul>
    <hr>
    <p class="text-center">William James Ward 2023</p>
  </footer>