<div id="threejs-contact-container"></div>
<!-- <a href="mailto:wward246@gmail.com" target="_blank" class="contact-btn tracking-in-expand"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i></a> -->
<!-- <form action="">
  <div class="form-container">
  <label >Name</label>
  <input name="make" type="text" class="feedback-input" placeholder="Make"/>
  <label >Email</label>
  <input name="model" type="text" class="feedback-input"  placeholder="Model"/>
  <label >Subject</label>
  <input name="text" type="text" class="feedback-input"  placeholder="Year (YYYY)"/>
  </div>

</form> -->
<div id="contact-main">
  <div class="form-container puff-in-center">

    <h3>
      If you have any questions about my services, or just want to say hello, feel free to contact me. Below are my social pages and my email:
    </h3>
    <div class= "contact-container">
      <a id="indeed" href=" https://www.linkedin.com/in/william-ward-53376a100" target="_blank" class="fa fa-linkedin-square"></a>
      <a id="email"  href="mailto:wward246@gmail.com" target="_blank" class="contact-btn "> <i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
    </div>




  </div>
</div>



