@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


  @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
      transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
      filter: blur(40px);
      opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
      transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
    }
  }


  .slide-in-blurred-top {
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }
  
  ::ng-deep app-navbar a{
    color:#fff !important;
  }
  
  ::ng-deep app-navbar #nav-icon2 span{
    background:#fff !important;
  }
  
  ::ng-deep app-navbar a{
    color:#fff !important;
  }
  
  ::ng-deep app-navbar a:hover{
    color: #e0d9d9 !important;
  }
  
  ::ng-deep app-footer ul div{
    display: none;
  }
  
  ::ng-deep app-footer #linkedin{
    display: none;
  }
  
  ::ng-deep app-footer #email{
    display: none;
  }
  
  .puff-in-center {
      -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
              animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  
  #threejs-contact-container{
    position: absolute;
    width: 100% !important;
    height: 10px !important;
  }
  
  #contact-main{
    display: flex;
    background-color: rgba(0, 0, 255, 0);
    top:5%;
    left: 0%;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    overflow-x: hidden;
  }

  .contact-btn:hover{
    cursor: pointer;
  }
  
  
  .form-container{
    border-radius: .25rem;
    padding: 20px;
    background: rgba(85, 81, 152, 0.506);
    position:absolute;
    width: 50%;
    left:25%;
    height:300px;
    top:25%;
    display:grid;
    
  }

  #contact{
    width:100%;
    height:100%;
    background-color: rgba(255,255,255, 0);
    border:none;
  }

  #contact a{
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 0px;
    left:90%;
  }

  #contact a:hover{
    cursor:pointer;
    font-weight: 500;
  }
  
  
  .form-container h3{
    color:#fff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .contact-container{
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact-container a{
    color:#fff;
    text-decoration: none;
    font-size: 2.25rem;
    border-radius:.25rem;
    text-align: center;
    border-style: solid;
    height: fit-content;
    border-width: 1px;
    width:200px;
    align-items: center;
  }
  
  .contact-container a:hover{
    color:#ffffff;
   background: #ffffff2e;
  }
  
  #indeed{
    padding: 10px;
  }
  
  #email{
    padding: 0px 10px 0px 10px;
  }
  
  @media (max-width:480px) {

    #navbarNavAltMarkup{
      display:hidden;
    }
    .form-container{
      left: 10%;
      width: 80%;
      height:300px;
  
    }
  
    #contact-main{
      height: 90%;
      position: absolute;
      overflow-x: hidden;
    }
  
    .contact-container{
      align-items: center;
      display: flex;
      flex-direction:column;
  
    }
  
    .form-container h3{
      letter-spacing: 1.5px;
      color:#fff;
      font-size: 20px;
      font-weight: 300;
    }
  }
  
  
  