@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  ::ng-deep app-navbar a{
    color:#fff !important;
  }
  
  ::ng-deep app-navbar a{
    color:#fff !important;
  }
  
  ::ng-deep app-navbar a:hover{
    color: #e0d9d9 !important;
  }
  
  ::ng-deep app-navbar #nav-icon2 span{
    background:#fff !important;
  }
  
  
  
  #home{
    height: 800px;
    width: 100%;
    background-color: aquamarine;
  }
  /* #threejs-home-container{
  
  } */
  
  .tracking-in-expand {
      -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  
  .about-btn{
  
    position: absolute;
    font-size:35px;
    top: 40%;
    left: 45%;
    text-decoration: none;
    border-style:solid;
    color: #fff;
    border-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 3px;
  }
  
  .about-btn:hover{
    animation-duration: 2s;
    color: #e1dbdb !important;
    border-color: #ede7e7 !important;
  }
  
  @media (max-width:1280px) {
    .about-btn{
  
      top: 45%;
      left: 42.5%;
    }
  }
  
  @media (max-width:1024px) {
    .about-btn{
  
      top: 45%;
      left: 40%;
    }
  }
  
  @media (max-width:921px) {
    .about-btn{
  
      top: 45%;
      left: 38%;
    }
  }
  
  @media (max-width:821px) {
    .about-btn{
  
      top: 45%;
      left: 38%;
    }
  }
  
  @media (max-width:787px) {
    .about-btn{
  
      top: 45%;
      left: 40%;
    }
  }
  
  @media (max-width:540px) {
    .about-btn{
  
      top: 40%;
      left: 33.5%;
    }
  }
  
  @media (max-width:480px) {
    .about-btn{
  
      top: 40%;
      left: 45%;
    }
  }
  
  @media (max-width:415px) {
    .about-btn{
  
      top: 40%;
      left: 29%;
    }
  }
  
  @media (max-width:375px) {
    .about-btn{
  
      top: 40%;
      left: 28%;
    }
  }
  
  @media (max-width:360px) {
    .about-btn{
  
      top: 40%;
      left: 26%;
    }
  }
  
  
  @media (max-width:320px) {
    .about-btn{
  
      top: 40%;
      left: 23%;
    }
  }
  
  @media (max-width:280px) {
    .about-btn{
  
      top: 40%;
      left: 18%;
    }
  }