@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  ::ng-deep app-navbar a{
    color:#fff !important;
  }

  
  
  ::ng-deep app-navbar a{
    color:#fff !important;
  }
  
  ::ng-deep app-navbar a:hover{
    color: #e0d9d9 !important;
  }
  
  ::ng-deep app-navbar #nav-icon2 span{
    background:#fff !important;
  }


  .home-banner{
    max-width: 320px !important;
    border-color: #c1b0d1;
    border-style:outset;
    border-width:1px;
    padding: 40px;
    position: fixed;
    background-color: rgba(62, 98, 176, 0.431);
    top:calc(50% - 160px);
    left: calc(50% - 160px);
    border-radius: .25rem;
  }

 

  .home-banner:hover{
    border-color: #f1eef3;
    border-style:groove;
    cursor:default;
   
  
  }
  
  
  /* #home{
    height: 800px;
    width: 100%;
    background-color: rgb(22, 115, 172);
  } */
  /* #threejs-home-container{
  
  } */
  
  .tracking-in-expand {
      -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation-delay: 500ms;
  }
  
  
  .about-btn{
  
   
    font-size:35px;
    font-weight: 300;
    padding: 5px 50px 5px 50px;
    text-decoration: none;
    border-style:solid;
    border-radius: .25rem;
    color: #fff;
    border-color: #fff;
    border-width: 1px;
  }
  
  .about-btn:hover{
    animation-duration: 2s;
    color: #e1dbdb !important;
    border-color: #ede7e7 !important;
  }
  
  @media (max-width:1280px) {
    .about-btn{
  
      top: 45%;
      left: 42.5%;
    }
  }
  
  @media (max-width:1024px) {
    .about-btn{
  
      top: 45%;
      left: 40%;
    }
  }
  
  @media (max-width:921px) {
    .about-btn{
  
      top: 45%;
      left: 38%;
    }
  }
  
  @media (max-width:821px) {
    .about-btn{
  
      top: 45%;
      left: 38%;
    }
  }
  
  @media (max-width:787px) {
    .about-btn{
  
      top: 45%;
      left: 40%;
    }
  }
  
  @media (max-width:540px) {
    .about-btn{
  
      top: 40%;
      left: 33.5%;
    }
  }
  
  @media (max-width:480px) {
    .about-btn{
  
      top: 40%;
      left: 45%;
    }
  }
  
  @media (max-width:415px) {
    .about-btn{
  
      top: 40%;
      left: 29%;
    }
  }
  
  @media (max-width:375px) {
    .about-btn{
  
      top: 40%;
      left: 28%;
    }
  }
  
  @media (max-width:360px) {
    .about-btn{
  
      top: 40%;
      left: 26%;
    }
  }
  
  
  @media (max-width:320px) {
    .about-btn{
  
      top: 40%;
      left: 23%;
    }
  }
  
  @media (max-width:280px) {
    .about-btn{
  
      top: 40%;
      left: 18%;
    }
  }